swagger: "2.0"
info:
  version: 1.0.0
  title: The Helium API
  description: Auto genertaed Helium API
host: helium.rubi.gd
basePath: /api
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /user/authenticate/{action}:
    get:
      description: reserveUser is the route for reserve a email/phone for registration
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: action
        type: string
        description: ""
        in: path
        required: true
      tags:
      - user
  /user/avatar/{user_id}/{size}/avatar.png:
    get:
      description: getAvatar get the avatar from the system. default is the gravatar
        image
      responses:
        "200":
          description: ""
          produce: image/png
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "404":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: user_id
        type: integer
        description: ' the user id to get the avatar'
        in: path
        required: true
      - name: size
        type: integer
        description: ' size of the image'
        in: path
        required: true
      tags:
      - user
  /user/challenge:
    post:
      description: reserveUser is the route for reserve a email/phone for registration
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_reservedTokenResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: payload_data
        schema:
          $ref: '#/definitions/user_reserveUserPayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/login:
    post:
      description: Login is the login route for REST requests
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_responseLoginOK'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: payload_data
        schema:
          $ref: '#/definitions/user_payloadLoginData'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/logout:
    get:
      description: logout is for the logout from the system
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      tags:
      - user
  /user/oauth/callback:
    get:
      description: reserveUser is the route for reserve a email/phone for registration
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      tags:
      - user
  /user/password:
    post:
      description: changePassword change user password
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      - name: payload_data
        schema:
          $ref: '#/definitions/user_changePasswordPayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/register:
    post:
      description: registerUser register user in system
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_responseLoginOK'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: payload_data
        schema:
          $ref: '#/definitions/user_registrationPayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/role:
    post:
      description: createRole is for creating a role in system
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_createRoleResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      - name: payload_data
        schema:
          $ref: '#/definitions/user_createRolePayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/role/{id}:
    delete:
      description: removeRole remove a role from database
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: id
        type: string
        description: ""
        in: path
        required: true
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      tags:
      - user
    put:
      description: updateRole is for changing a role in system
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: id
        type: string
        description: ""
        in: path
        required: true
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      - name: payload_data
        schema:
          $ref: '#/definitions/user_createRolePayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/roles:
    get:
      description: listRoles list all roles in system, no pagination
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_roles'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      tags:
      - user
  /user/state/{user_id}:
    post:
      description: changeState change user state, ban or verify. admin actions
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/base_NormalResponse'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: user_id
        type: string
        description: ""
        in: path
        required: true
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      - name: payload_data
        schema:
          $ref: '#/definitions/user_changeStatePayload'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/test:
    post:
      description: testFunction test code generator functionality
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_tmpArray'
        "400":
          description: ""
          schema:
            $ref: '#/definitions/base_ErrorResponseSimple'
      parameters:
      - name: payload_data
        schema:
          $ref: '#/definitions/user_tmp'
        description: ""
        in: body
        required: false
      tags:
      - user
  /user/users:
    get:
      description: listUsers list all users in site
      responses:
        "200":
          description: ""
          produce: application/json
          schema:
            $ref: '#/definitions/user_userListResponse'
        "401":
          description: you are not authorized
          schema:
            properties:
              error:
                type: string
            title: not_authorized
            type: object
        "403":
          description: forbidden, you have no access here
          schema:
            properties:
              error:
                type: string
            title: forbidden
            type: object
      parameters:
      - name: username
        type: string
        description: ' the username filter'
        in: query
        required: false
      - name: p
        type: integer
        description: ' the page number'
        in: query
        required: false
      - name: status
        type: string
        description: ' the status filter'
        in: query
        required: false
      - name: c
        type: integer
        description: ' per page item'
        in: query
        required: false
      - name: token
        type: string
        description: the security token, get it from login route
        in: header
        required: true
      tags:
      - user
definitions:
  aaa_Role:
    properties:
      created_at:
        format: dateTime
        type: string
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      resources:
        items:
          type: string
        type: array
      updated_at:
        format: dateTime
        type: string
    type: object
  aaa_User:
    properties:
      attributes:
        additionalProperties:
          type: string
        type: object
      contact:
        type: string
      created_at:
        format: dateTime
        type: string
      id:
        type: integer
      last_login:
        format: dateTime
        type: string
      status:
        type: string
      updated_at:
        format: dateTime
        type: string
      username:
        type: string
    type: object
  base_ErrorResponseSimple:
    properties:
      error:
        type: string
    type: object
  base_NormalResponse:
    properties: {}
    type: object
  user_changePasswordPayload:
    properties:
      new_pass:
        type: string
      old_pass:
        type: string
    type: object
  user_changeStatePayload:
    properties:
      status:
        type: string
    type: object
  user_createRolePayload:
    properties:
      description:
        type: string
      name:
        type: string
      resources:
        items:
          type: string
        type: array
    type: object
  user_createRoleResponse:
    properties:
      id:
        type: integer
    type: object
  user_payloadLoginData:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  user_registrationPayload:
    properties:
      contact:
        type: string
      password:
        type: string
      token:
        type: string
      username:
        type: string
    type: object
  user_reserveUserPayload:
    properties:
      contact:
        type: string
    type: object
  user_reservedTokenResponse:
    properties:
      old_token:
        type: boolean
    type: object
  user_responseLoginOK:
    properties:
      contact:
        type: string
      resources:
        items:
          type: string
        type: array
      token:
        type: string
      user_id:
        type: integer
      username:
        type: string
    type: object
  user_roles:
    items:
      $ref: '#/definitions/aaa_Role'
    type: array
  user_tmp:
    properties:
      data:
        items:
          type: string
        type: array
      id:
        type: integer
      list:
        items:
          $ref: '#/definitions/aaa_User'
        type: array
      text:
        type: string
      total:
        type: integer
    type: object
  user_tmpArray:
    items:
      $ref: '#/definitions/user_tmp'
    type: array
  user_userListResponse:
    properties:
      list:
        items:
          $ref: '#/definitions/aaa_User'
        type: array
      total:
        type: integer
    type: object
