{{define "activeAd"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز سلام،</span></p>
        <p><span lang="fa">کمپین تبلیغاتی شما تحت عنوان {{Ad.}} با موفقیت کامل فعال شده است و نمایش تبلیغات شما نیز شروع شده است. شایان ذکر است برای دریافت گزارشات میتوانید به پنل روبیک اد مراجعه کنید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}