{{define "endAd"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز سلام،</span></p>
        <p><span lang="fa">کمپین تبلیغاتی شما تحت عنوان {{Ad.}} از تاریخ {{StartDate.}} الی {{EndDate.}} در شبکه روبیک اد نمایش داده شده است و در ساعت {{EndTime.}} روز {{Date.}} متوقف شد. </span></p>
        <p><span lang="fa">برای دریافت اطلاعات بیشتر و شارژ مجدد به پنل روبیک اد مراجعه نمایید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}