{{define "end-ad"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز سلام،</span></p>
        <p><span lang="fa">کمپین تبلیغاتی شما تحت عنوان <span>{{.Ad}}</span> از تاریخ <span>{{.StartDate}}</span> الی <span>{{.EndTime}}</span> در شبکه روبیک اد نمایش داده شده است و در ساعت <span>{{.EndTime}}</span>  متوقف شد. </span></p>
        <p><span lang="fa">برای دریافت اطلاعات بیشتر و شارژ مجدد به پنل روبیک اد مراجعه نمایید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}