{{define "forgotNewPassword"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p><span lang="fa">سلام،</span></p>
        <p>{{.Name}}<span lang="fa"> عزیز،</span></p>
        <p><span lang="fa">برای ساختن رمز جدید روی لینک زیر کلیک کنید و اگر شما در سایت روبیک اد درخواست فراموشی رمز عبور نکرده اید این ایمیل را نادیده بگیرید.</span></p>
        <p>{{.Pass}}<span lang="fa"> رمز عبور: </span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}
