{{define "recover-codeode"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز،</span></p>
        <p><span lang="fa">جهت تنظیم کلمه عبور جدید از لینک زیر استفاده کنید.</span></p>
        <p><span lang="fa"><a href="{{.Link}}">{{.Link}}</a></span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}