{{define "register"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز،</span></p>
        <p><span lang="fa">ثبت نام شما در روبیک اد با موفقیت انجام شد. </span></p>
        <p><span lang="fa">لطفا در حساب کاربری اطلاعات فردی خود را تکمیل نمایید و همچنین برای طرح هرگونه سوال یا پشتیبانی از طریق فرم تماس سایت یا تلفن تماس با ما استفاده نمایید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}