{{define "rejectAd"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز سلام،</span></p>
        <p><span lang="fa">متاسفانه تصویری که برای تبلیغ در کمپین <span>{{.Campaign}}</span> ارسال کرده اید با قوانین و استانداردهای روبیک اد مغایرت دارد. برای رفع این مکل ابتدا قوانین ارسال تصویر در سایت را مطالعه کرده و با تصویر جدیدی به ساخت کمپین خود ادامه دهید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}

