{{define "reject-channel"}}
{{template "masterHeader" }}
<div style="direction:rtl;text-align:right;font-family:tahoma,arial,helvetica,sans-serif">
    <div style="direction:rtl;font-family:tahoma;padding:30px">
        <!--Start-->
        <p>{{.Name}}<span lang="fa"> عزیز سلام،</span></p>
        <p><span lang="fa">طبق بررسی های انجام شده متاسفانه کانال <span>{{.Channel}}</span> که توسط شما در سیستم روبیک اد ثبت شده است با قوانین و استانداردهای روبیک اد مغایرت داشته و تایید نخواهد شد. </span></p>
        <p><span lang="fa">برای اطلاع از استاندارهای روبیک اد در زمینه ثبت کانال به بخش قوانین وب سایت روبیک اد مراجعه فرمایید.</span></p>
        <p><span lang="fa">موفق باشید</span></p>
        <!--END-->
    </div>
</div>
{{template "masterFooter" }}
{{end}}

