[Unit]
Description=Rubik AD server
After=network.target

[Service]
ExecStart=/home/cy/cyrest/bin/server
Restart=always

[Install]
WantedBy=default.target
